<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Friend App', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "About Us", home_about_path, class:'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Add Friend", new_friend_path, class:'nav-link' %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Friends", friends_path, class:'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path,method: :delete, class:'nav-link' %>
          </li>
<!--          edit_user_registration_path-->
          <li class="nav-item">
            <%= link_to "Edit Profile",user_show_users_path, class:'nav-link' %>
          </li>
<!--  # user_show_users-->
          <li class="nav-item">
            <%= link_to "Change Password", security_settings_users_path, class:'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "All Users", show_friends_users_path, class:'nav-link' %>
          </li>

      <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:'nav-link' %>
          </li>
        <% end %>
      </ul>

      <form class="d-flex" action="/users/user_search">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <%#= link_to "Search", user_search_users_path, class:'btn btn-outline-success', type:'submit' %>
      </form>

      <%#= form_tag  user_search_users_path, :method => 'get' do %>
        <%#= text_field_tag :search, params[:search] %>
        <%#= submit_tag 'Search' %>
      <%# end %>


    </div>
  </div>
</nav>
